@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<h3>Wrong password</h3>
<p>
    <b>Password input example:</b> admin/secret?pwd=your-password
</p>
<p>

</p>
