@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
<br />
    <div style="margin-bottom:50px" class="text-center">
        <img style="height: 200px" src="https://blog.amartha.com/wp-content/uploads/2020/01/LOGO-MONEY-PLUS-ALL-COLOR-01.png">
    </div>
</div>
